*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    height: 100%;
    background-color: #2C263F;
}
.nav {
    width: 100%;
    align-items: center;
}
.navbar{
    background-color: #694872;
}
.nav-link{
    background-color: #A0D8C8 ;
}
body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C263F !important;
}

/*------ Welcome -------*/

.content{
    height: 100vh;
}

#logo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    animation: fill 4s ease forwards;
    cursor: pointer;
    
}

#subtitulo{
    position: absolute;
    color: white;
    top: 60%;
    transform: translateX(60%) translateY(50%);
}
#logo path{
    stroke-dasharray: 6354.38232421875;
    stroke-dashoffset: 6354.38232421875;
    animation: line-anim 8s ease forwards;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

.links > a {
    color: #636b6f;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #A0D8C8;
    border-radius: 20px;
}
.top-right{
    position: absolute;
    top: 10%;
    right: 2%;
}
/*------ Home ------*/

.HOME--titulo{
    margin-top: 2em;
    text-align: center;
}
#bienvenido{
    font-size: 2.5em;
    color: white;
    text-align: center;
}
.HOME--titulo h2{
    color: white;
    font-size: 3em;
}
.HOME--titulo img{
    width: 70%;
    margin: 2em 0;
}
.HOME--juegos ul{
    display: inline-flex;
}
.HOME--juegos ul li{
    list-style-type: none;
    display: inline;
}
.HOME--juegos ul li a:hover{
    color: #2C263F;
}
.HOME--juegos ul li img{
    width: 70%;
    margin: 2em 0;
}
.boton-jugar {
    border-radius: 50%;
    padding: 55px;
    padding-left: 35px;
    padding-right: 35px;
    border: solid white;
    background-color: #D85F75;
    color: white;
    font-size: 30px;
    font-weight: bold;
    -webkit-box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);  
}
.boton-tiempo {
    border-radius: 50%;
    padding: 55px;
    padding-left: 35px;
    padding-right: 35px;
    border: solid white;
    background-color: #D85F75;
    color: white;
    font-size: 30px;
    font-weight: bold;
    -webkit-box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 67px -7px rgba(0,0,0,0.75);  
}
.boton-tiempo:hover{
    color: white;
    text-decoration: none;
}
.boton-jugar:hover{
    color: white;
    text-decoration: none;
}

.caja-jugar{
    margin-top: 100px;
}
/*---------- registro.php --------- */
.sec-regis{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 2em;
}
.p--registro {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #D88E4E;
    text-align: center;
}
.form--regis{
    margin: 0 auto;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.in--regis{
    width: 250px;
    border-radius: 10px;
    text-align: center;  
    margin-bottom: 1.5em;
}
.sub--texto{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.boton{
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top:1em;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    color: white;
    border-radius: 10px;
}

.p--boton{
    font-size: 1.4em;
    padding: 2px;
    width: 50%;
    margin: 0;
}
.p--registrarse {
    margin-bottom: 0;
    font-size: 1.2em;
}
.p--usuario {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
.b--ingresa{
    width: 50%;
    padding: 0.3em;
    background-color: #694872;
    border: solid white 2px;
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
}
.b--ingresa:hover{
    text-decoration: none;
    color: white;
}
.input--avatar {
    margin-left: 1em;
}
.cuenta {
    text-align: center;
}
/* -----------Login-------------- */
.errores {
    color: #DF8B8B;
}
.titulo--login {
    font-size: 3em;
    margin-top: 1em;
    color: #D88E4E;
    text-align: center;
}
.login{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 10em;
}
.texto--login{
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.form--caja{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.login--form{
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}

.in--login{
    width: 250px;
    border-radius: 10px;
    /* text-align: center;   */
    margin-bottom: 1em;
}
.boton--login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    color: white;
    margin-top:1em;
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: 1.3em;
    text-decoration: none;
}
.b--registrarse{
    width: 10%;
    background-color: #694872;
    border: solid white 2px;
    color: white;
    margin-bottom: 5em;
    border-radius: 10px;
    font-size: 1.2em;
}
.label--recordarme {
    color: white;
    margin-top: 1em;
    margin-right: 1em;
}
.input--recordarme {
    margin-left: 0;
}
.boton--login:hover {
    color: white;
    text-decoration: none;
}

/* --------Crea tus preguntas -------- */
.titulo--crea {
    margin-top: 1em;
    color:#D88E4E;
    font-size: 3em;
    display: flex;
    justify-content: center;
}
.mensajeGracias{
    color:white;
}
.contenedor--form {
    display: flex;
    margin: 3em auto;
    justify-content: center;
    border-radius: 30px;
    padding: 1em;
    width: 80%;
    background-color: #694872;
}
.subtitulos--crea1{
    color: #A0D8C8;
    font-size: 1.7em;
    margin-top: 1em;
    text-align: center;
}
.subtitulos--crea2 {
    color: #D85F75;
    font-size: 1.7em;
    margin-top: 1em;
    text-align: center;
}
.subtitulos--crea3 {
    color: #A0D8C8;
    font-size: 1.7em;
    margin-top: 1em;
    text-align: center;
}

.cajas--form {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.preguntainput--crea {
    width: 110%;
    margin-top: 2em;
    border-radius: 8px;
}
.respuesta--crea {
    margin-top: 2em;
    width: 110%;
    border-radius: 8px;
}

.boton--crea {
    font-size: 1em;
    width: 80%;
    height: 15%;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #DF8B8B;
    color: white;
    border: solid #DF8B8B;
    font-size: 20px;
    margin-top: 15px ;
    
}
.boton--crea:hover {
    background-color: #D85F75;
    color: white;
}
.subtitulo--crea {
    margin-bottom: 0.80em;
    color:#D88E4E;
    font-size: 3em;
    display: flex;
    justify-content: center;
}
.crud {
    background-color: #694872;
    margin-bottom: 2em;
}
.crud table{
    background-color: #694872;
}
.p-crud {
    color: #D85F75 ;
}
.r-crud {
    color:#A0D8C8 ;
}
.i-crud {
    color: #D88E4E;
}.in-crud {
    color: #DF8B8B;
}
.e-crud {
    color: #2C263F;
}
/* -------- Editar pregunta--------- */
.titulo-editar {
    color: white;
    background-color: #D85F75;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
}
.pregunta-elegida {
    color: white;
    background-color: #694872;
    width: 40%;
    margin: 40px auto;
    padding: 12px;
    border-radius: 30px;
    text-align: center;
    overflow-wrap:	break-word;
}
.form-editar {
    color: white;
    background-color: #694872;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.div-form-editar {
    margin-top: 20px;
    font-size: 18px;
}
.div-button-editar {
    margin-top: 20px;
    color: white;
    background-color: #DF8B8B;
    padding: 10px;
    border-radius: 10px;
    border: solid #DF8B8B;
}
.input-editar {
    border-radius: 8px;
}
.button-volver {
    font-size: 30px;
    color: white;
}
.cajita-button {
    width: 20%;
}
.button.title {
    display: flex;
}
/* ----------Eliminar-------- */
.pregunta-eliminar {
    color: white;
    background-color: #694872;
    width: 40%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.respuesta-eliminar {
    color: white;
    background-color: #694872;
    width: 40%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.p-resp {
    color: #A0D8C8;
}
.resp {
    margin-left: 20px;
    color: white;
}
.eliminar-preguntas {
    color: #DF8B8B;
}
.button-eliminar {
    margin-top: 20px;
    color: white;
    background-color: #DF8B8B;
    padding: 10px;
    border-radius: 10px;
    border: solid #DF8B8B;
}
.div-eliminar{
    text-align: center;
    margin: 20px;
}
/* --------------Raking----------- */
.cajamadre--ranking {
    display: flex;
}
.caja1--ranking{
    border-radius: 30px;
    width: 40%;
    height: 50%;
    margin: 40px;
    background-color: #694872;
    padding-bottom: 15px;
    /* display: flex; */
    justify-content: center;
}

.titulo--ranking {
    font-size: 3em;
    color: #D88E4E;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 2em;
}
.ranking--usuario {
    margin-top: 4em;
}
.nombres--ranking {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}
.user1 {
    color: #D85F75;
}
.numeros--ranking {
    margin-left: 5em;
    color: white;
    text-align: center;
    /* font-size: 1.5em; */
}

/* ---------------Usuario----------------- */

.caja2--usuario {
    border-left: solid white 1px;
    width: 40%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.img--usuario {
    /* border: solid black 2px; */
    border-radius: 50%;
    /* padding: 1em; */
    background-color: #7F7D7C;
    margin-bottom: 2em;
    object-fit: cover;
}
.nombre--usuario {
    font-size: 2em;
    color: #D85F75;
}
.puntos--usuario {
    font-size: 2em;
    color: #D88E4E;
    
}
.puesto--usuario {
    font-size: 2em;
    color: #A0D8C8;
    
}
/*----------------CONTACTO----------------*/ 

.sec--contacto{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.p--contacto{
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #D88E4E;
    text-align: center;
}
.caja--contacto{
    margin: 0 auto;
    background-color: #694872;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2em;
}

.p--caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.3em;
}

.caja--contactenos{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 3em auto;
}

.b_contactenos{
    width: 100%;
    font-size: 1.5em;
    padding: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #A0D8C8;
    color: white;
    border: solid white 2px;
    border-radius: 8px; 
}
/*--------Nosotros formulario--------*/

.formulario--nosotros{
    margin: 0 auto;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}
.form--nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p--nosotros{
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.in--nosotros{
    width: 70%;
    border-radius: 10px;
    text-align: center; 
    
}
.b_nosotros{
    font-size: 1.5em;
    padding: 1px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: white;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    border-radius: 8px;
    width: 5em;
    height: 2em;
    
}
/* --------------FAQ----------------- */

.FAQ--grilla{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 3em; 
}

.titulo--frecuentes{
    color: #D88E4E;
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
}
.Primer--div{
    background: #694872;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 0.2em;
}
.p--dubium{
    font-size: 1.9em;
    color: #D85F75;
    text-decoration: underline;
    text-align: center;
}
.primera--info {
    font-size: 1.2em;
    color: white;
    text-align: center;
}
.Segundo--div{
    background: #694872;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 0.2em;
}
.p-info {
    font-size: 1.9em;
    color: #A0D8C8;
    text-decoration: underline;
    text-align: center;
}
.segunda--info {
    font-size: 1.2em;
    color: white;
    text-align: center;
}
.FAQ--tema{
    color: #D85F75;
    font-size: 1.9em;
    text-decoration: underline;
    text-align: center;
}
.FAQ--ahorcado{
    color: #A0D8C8;
    font-size: 1.9em;
    text-decoration: underline;
    text-align: center;
}
.FAQ--muerte{
    color: #D88E4E;
    font-size: 1.9em;
    text-decoration: underline;
    text-align: center;
}
.FAQ--Info{
    color: white;
    background: #694872;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
}
.FAQ--footer{
    padding: 0.5em;
    margin-top: 1em;
}

/* ---------------Juego----------------- */
.cajita-juego {
    color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 80%;
    margin: 5% auto;
    border-radius: 30px;
    padding: 10px;
}
.pregunta-juego {
    color: white;
    width: 50%;
    margin: 0 auto;
    font-size: 2.5em;
    padding: 10px;
    overflow-wrap:	break-word;
    /* background-color: #D85F75; */
}
.respuesta-juegoA {
    font-size: 2em;
    overflow-wrap:	break-word;
    word-break:	normal;
    background-color: #DF8B8B;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.respuesta-juegoB {
    font-size: 2em;
    overflow-wrap:	break-word;
    background-color: #D88E4E ;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.respuesta-juegoC {
    font-size: 2em;
    overflow-wrap:	break-word;
    background-color: #A0D8C8;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.small-juego {
    color: white;
    text-align: center;
}
.cajita-puntos {
    color: white;
}
.cajita-juego form {
    opacity: 0;
}

#respuesta-1{
    transition: all 0.5s ease 0.3s;
}
#respuesta-2{
    transition: all 0.5s ease 0.6s;
}
#respuesta-3{
    transition: all 0.5s ease 0.9s;
}

.cajita-juego form.fade{
    opacity: 1;
}
/* -----------Juego Tiempo--------- */
.cajita-juegoTiempo {
    color: white;
    margin: 40px auto;
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
    background-color: #694872;
    width: 40%;
    border-radius: 30px;
}
.small-juegoTiempo {
    color: white;
    display: flex;
    justify-content: center;
}


/* ------------Final------------- */
.titulo-perdiste {
    color: #DF8B8B;
}
.cajita-perdiste {
    text-align: center;
    color: white;
    background-color: #694872;
    width: 40%;
    height: 200px ;
    margin: 100px auto;
    border-radius: 30px;
}
/* -----------Admin------------ */
.crud-admin {
    margin-top: 1em;
}
.e-crud-admin {
    color: #A0D8C8;
}
.usuarios-admin {
    color: black;
}
.titulo-admin {
    color: white;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #694872;
    border-radius: 30px;
    width: 40%;
    padding: 10px;
    text-align: center;
}
.contenedor-admins {
    display: flex;
    flex-flow:column ;
    width: 40%;
    background-color: #694872;
    border-radius: 30px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
}
.label-admins {
    font-size: 23px;
    color: white;
    margin-top: 5px;
}
.input-admins {
    width: 50%;
    border-radius: 8px;
}
.icono {
    font-size: 25px;
    margin-left: 3px;
}
.nuevo {
    background-color: #FFD906;
    color: black;
}
.espera {
    background-color: #DFDFDF;
    color: black;
    text-align: center;
    border-radius: 8px;
}
.aprobado {
    background-color: #3D8F05;
    text-align: center;
    border-radius: 8px;
    color: black;
}




/*---- Tablets ----*/

@media (max-width: 768px){
    
    /* ---- Welcome ---- */
    #subtitulo{
        position: absolute;
        width:100%;
        color: white;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    /*---- Nosotros ----*/

.caja--contacto{
    width: 80%;
}

.caja--contacto img {
    margin-bottom: 3em;
}

}

/*---- Celulares ----*/


@media (max-width: 420px){
    
    /* ---- Welcome ---- */
    #subtitulo{
        position: absolute;
        width:100%;
        color: white;
        top: 55%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.25em;
    }
    
    /*------ Home ------*/
    
    #bienvenido{
        font-size: 2em;
        color: white;
        text-align: center;
    }
    .HOME--titulo h2{
        color: white;
        font-size: 2.5em;
    }
    .HOME--titulo img{
        width: 100%;
        margin: 2em 0;
    }
    
    /* ---------------Juego----------------- */


.cajita-juego {
    color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 80%;
    margin: 5% auto;
    border-radius: 30px;
    padding: 10px;
}


.pregunta-juego {
    color: white;
    width: 50%;
    margin: 0 auto;
    font-size: 2.5em;
    padding: 10px;
    overflow-wrap:	break-word;
    /* background-color: #D85F75; */
}
.respuesta-juegoA {
    font-size: 2em;
    overflow-wrap:	break-word;
    word-break:	normal;
    background-color: #DF8B8B;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.respuesta-juegoB {
    font-size: 2em;
    overflow-wrap:	break-word;
    background-color: #D88E4E ;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.respuesta-juegoC {
    font-size: 2em;
    overflow-wrap:	break-word;
    background-color: #A0D8C8;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    color: white;
}
.small-juego {
    color: white;
    text-align: center;
}
.cajita-puntos {
    color: white;
}

/* ---- Login ----*/

.login--form{
    border-radius: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}

/*---- Registro ----*/

.form--regis{
    margin: 0 auto;
    border-radius: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}

/*---- Crea ----*/

.contenedor--form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    border-radius: 30px;
    padding: 1em;
    width: 80%;
    background-color: #694872;
    transform: translate(50% -50%);
}
.crud {
    background-color: #694872;
    margin-bottom: 2em;
}

/*---- Nosotros ----*/

.caja--contacto{
    width: 80%;
}
.caja--contacto img {
    margin-bottom: 3em;
}

/*---- Ranking ----*/
.cajamadre--ranking {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.caja1--ranking{
    border-radius: 30px;
    width: 80%;
    height: 50%;
    margin: 40px;
    background-color: #694872;
    padding: 0;
    display: flex;
    justify-content: center;
}

/*----  Usuario ----*/

.caja2--usuario {
    border-left: none;
    padding-top: 2em;
    border-top: solid white 1px;
    width: 80%;
    height: 500px;
    margin-bottom: -100px;
    margin-left: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*---- Contacto ----*/

.formulario--nosotros{
    margin: 0 auto;
    border-radius: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}

}













/* ---------------Footer----------------- */

footer {
    color: white;
    text-align: center;
    margin-top: 200px;
}
.copy {
    color: white;
    text-align: center;;
}
.ul--footer {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}   
.li--footer {
    margin-left: 3em;
}
.icono--footer {
    font-size: 1.5em;
}